// Begin load Modernizr
script(src='libs/modernizr/modernizr.js')
// End load Modernizr

// Begin load style
link(rel="stylesheet", href="css/libs.css")
link(rel="stylesheet", href="css/main.css")
// End load style

// Begin massege browsers upgrade
<!--[if lt IE 8]>
p.browser__upgrade Вы используете устаревшую версию браузера. Если вы хотите иметь доступ к новейшим функциям нашего сайта, установите <a href="http://browsehappy.com/">современный браузер</a>.
<![endif]-->
// End massege browsers upgrade
