// Begin load scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script.
  window.jQuery || document.write('<script src="libs/jquery/jquery-2-2-4.min.js"><\\/script>')
script(src='js/libs.js')
script(src='js/main.js')
// End load scripts
