.hidden {
  display: none;
}

.preloader {
  background-color: $preloader-bg-color;
  background-image: url('/img/preloader.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

body {
  color: $main-text-color;
  font-family: 'RobotoRegular', Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}

.browser__upgrade {
  background: $browser-upgrade-bg-color;
  color: $browser-upgrade-text-color;
  margin: .2em 0;
  padding: .2em 0;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
}

::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: $placeholder-color;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  text-shadow: none;
  background: $selection-bg-color;
}

::selection {
  text-shadow: none;
  background: $selection-bg-color;
}

img,
iframe {
  display: block;
  margin: auto;
  max-width: 100%;
}