// Colors
$white: #fff;
$black: #000;
$light-gray: #ccc;
$dark-grayish-blue: #363b3f;
$bright-red: #e14d43;
$soft-yellow: #fce38a;

// Color Variables
$preloader-bg-color: $white;
$placeholder-color: $white;
$main-text-color: $dark-grayish-blue;
$selection-bg-color: $bright-red;

$browser-upgrade-bg-color: $light-gray;
$browser-upgrade-text-color: $black;
