doctype html
html(lang="ru", class="no-js")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title 2Kings | Amazing web-studio
    meta(name="author", content="Viktor Varyanitsa")
    meta(name="description", content="Amazing web-studio")
    meta(property='og:title', content='2Kings')
    meta(property='og:description', content='Amazing web-studio')
    meta(property='og:image', content='img/social-img.png')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(rel="shortcut icon", href="img/favicon/favicon64x64.ico?v=1.0", type="image/x-icon")
    include ./inc/_head.jade
  body
    .preloader
    include ./inc/_hidden.jade
    include ./inc/_old-browsers.jade
    include ./inc/_load-scripts.jade
